body {
  background-color: #fdfbee;
  margin: 0;
  text-align: center;
}

.top {
  display: flex;
  justify-content: center;
  width: 100%;
}

.top-container {
  display: flex;
  width: 85%;
  background-color: #57b4ba;
  height: 300px;
  justify-content: space-between;
  border: solid;
  border-radius: 30px;
}

img {
  height: 100px;
  width: 100px;
  align-self: center;
}

#phoenix {
  height: 200px;
  width: 200px;
}

.cloud {
  height: 70px;
  width: 70px;
}

.middle {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.middle-container {
  margin-top: 10px;
  width: 85%;
  background-color: #57b4ba;
  border-radius: 30px;
  border: solid;
}

.image-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}

#profile-picture {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: solid;
}

h2 {
  border-top: solid;
  border-bottom: solid;
}

.text-container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

p {
  margin: auto;
  width: 50%;
  margin-bottom: 20px;
}

@media only screen and (max-width: 800px) {
  .cloud {
    display: none;
  }

  .clouds {
    display: none;
  }

  p {
    width: 100%;
  }
}
