body {
  background-color: #336d82;
  margin: 0;
  text-align: center;
}

.top {
  display: flex;
  justify-content: center;
  width: 100%;
}

.top-container {
  display: flex;
  width: 85%;
  background-color: #5f99ae;
  height: 300px;
  justify-content: space-between;
  border: solid;
  border-radius: 30px;
}

img {
  height: 100px;
  width: 100px;
  align-self: center;
}

#phoenix {
  height: 200px;
  width: 200px;
}

.cloud {
  height: 70px;
  width: 70px;
}

.middle {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.middle-container {
  margin-top: 10px;
  width: 85%;
  background-color: #5f99ae;
  border-radius: 30px;
  border: solid;
}

.image-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}

#profile-picture {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: solid;
}

h2 {
  border-top: solid;
  border-bottom: solid;
}

.text-container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.text {
  margin: auto;
  width: 50%;
  margin-bottom: 20px;
}

.other-projects {
  display: flex;
  justify-content: space-evenly;
}

.file-folder {
  margin-right: 20px;
}

.bottom-container {
  height: 300px;
  margin-top: 40px;
  background-color: #5f99ae;
  border: solid;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.bottom-phoenix {
  margin-top: 50px;
  margin-bottom: 10px;
}

@media only screen and (max-width: 800px) {
  .cloud {
    display: none;
  }

  .outer-stars {
    display: none;
  }

  .text {
    width: 90%;
  }

  .other-projects {
    display: grid;
    grid-template-rows: 1fr 1fr;
  }

  @media only screen and (max-width: 600px) {
    .inner-stars {
      display: none;
    }
  }
}
